/* Allgemeines */
/***************/

body {background-color: #ffff8f}



/* Menü */
/********/
ul.menu { border-bottom-style:solid; background-color:#999999; padding:2em; padding-bottom:3em; margin:-1em; margin-bottom:1em }
ul.menu li { display:inline; float:left; text-align:center; margin-right:2em; }
ul.menu a { display:block; font-size:larger; font-weight:bold; }
ul.menu span.desc { display:block }


/* Überschrift umrahmt */
h1,h2,h3 { padding:0.2em; }      /* Überschriften stossen sonst immer oben an */
h1,h2 {border-style:solid; background-color:#8080ff; }
h3 {background-color:#8080ff; }
h1,h2,h3 {font-family: sans-serif;}


/* Tabellen */
/************/

th,td {
	border-style: solid;
	border-width: 1px;
}
th {border-color: #4f4f4f;
	text-align: left; 
	white-space: nowrap;    /* Text nicht innerhalb eines Tabellenfeldes umbrechen */
	/* Bei table{table-layout:auto} (was default ist), hat die Spalte so genau "optimale" Breite 
       und wird nicht vergrößert: */
	width: 1;
}
td {border-color: #7f7f7f;
	font-family: monospace;
}
td.nowrap{white-space: nowrap; }
span.data{background-color: #ffffff; }    /* readonly-Datenfelder */
table {
	border-collapse: collapse;
	border: 1px;
	font-family: sans-serif;
}
td.empty{height: 1.5em; }  /* leere Felder sollen evtl. Platzhalter zum Eintagen beim Ausdruck sein */

/* Layout mit Tabellen */
/***********************/
table.page{
  width: 100%;
  height:100%;
}

table.fill{
  /* Mozilla zieht die Tabelle ganz auf, wenn eine Spalte 100% hat,
    beim Konqueror muss das hier auch gemacht werden
    Allerdings bringt das beim Mozilla die Größe durcheinander, wenn ein margin gesetzt wird. */
/*  width: 100%; */
}
td.nopadding{
  vertical-align:top;
  padding:0;      /* So kann man .zB. Tabellen übergangslos ineinander schachteln */
}
td.nopadding > *{
  margin:-1;       /* Wenn eine Tabelle in ein td.randlos kommt, muss ihr Aussenrand auf dem td-Rand liegen */
}
td.layout{
  border-style: none; 
  padding:0
}
td.borderlesslist{    /* Listen ohne Trennlinien brauchen wenigstens etwas Abstand */
  border-style: none; 
  padding-left:0.5em;
  padding-right:0.5em;
  white-space: nowrap;
}
td.underline{
  border-bottom-style:solid;
}
td.leftbutton{ 
  border-style: none;
  text-align: left; 
}
td.rightbutton{ 
  border-style: none;
  text-align: right;
}
td.middlebutton{ 
  border-style: none;
  text-align: center; 
}
td.oneofthree{
  width:33%;
}
.maxheight{          /* Diese Reihe füllt z.B. die Seite nach unten auf */
  height: 100%;
}
.maxwidth{           /* Diese Spalte wächst, um das umgebende Feld seitlich aufzufüllen */
  width: 100%;
}



/* besondere Auszeichnungen */
/****************************/
td.numbers{
  text-align: right; /* Zahlen in Tabellen rechtsbündig */
  white-space: nowrap;
}
td.soll{
  font-weight: bold;
}
td.haben{
  font-weight: normal;
}
.pappenheimer{
  background-color: red;
}


/* Grafik */
/**********/

img.inline {height: 1em; }   /* Grafik in Textzeilen soll so gross sein wie die Schrift */
td.icon {height: 1em; white-space: nowrap;}  /* Tabellenfeld enthält nur Icon(s) */
/* Bilder in Links sollen keinen blauen Hintergrund bekommen. 
   Scheint nur bei den Apache-Icons zu passieren */
/*
:link.imagelink {color: #ffff8f; }
:visited.imagelink {color: #ffff8f; }
*/



/* Besonderheiten für den Drucker */
/**********************************/
@media print{
  /* einige Dinge sehen im Ausdruck beim Mozilla immer blöde aus */
  /* Das muss im Stylesheet ganz unten stehen, damit es ggf. obige Einstellungen überschreibt */
  body { font-size:xx-small }          /* Das Ganze was kleiner, sonst spinnen die Fonts total */
  body { font-family:serif }           /* Das sieht auf Papier besser aus */
  h1,h2,h3 { padding:0.2em}            /* Überschriften stossen sonst immer oben an */
  ul.menu { display:none }             /* Menü nicht mit ausdrucken */
  h1,h2,h3 {background-color: #cfcfcf; }
  body {background-color:#ffffff }
/*  table{font-size:x-small } */
  
  /* Layout überschreiben */
  table.page{
  	table-layout:fixed; 
  	max-width:100%;        /* wenn der Drucker den rechten Rand abschneidet, die Prozente ändern */
  	overflow:hidden; 
  }
  div.nogrow{
    /* Dieses Element wächst mit einer Tabelle, schrumpft aber auch mit dieser. 
       Passt es nicht mehr hinein, wird es abgeschnitten. */
    max-width:100%;
    overflow:hidden;
  }
  .pappenheimer{
    background-color: silver;
  }

  /* Elemente, die exlizit nicht gedruckt werden sollen */
  /* sollte immer in ein <div>-Tag kommen, klappt sonst nämlich oft nicht */
  .forscreen{max-height:0; max-width:0; overflow:hidden; }
}

@media screen{
  /* Elemente, die exlizit gedruckt werden sollen */
  /* sollte immer in ein <div>-Tag kommen, klappt sonst nämlich oft nicht */
  .forprint{max-height:0; max-width:0; overflow:hidden; }
}
